@using Eventures.ViewModels.Events
@model Eventures.ViewModels.Events.AllEventsViewModel
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">All Events</h1>

<div class="mx-auto w-75">
    <hr class="bg-eventures hr-2" />
    <table class="table justify-content-center">
        <thead>
        <tr class="text-center font-weight-bold">
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{  
            var counter = Model.PageNumber * 12;
        }
           
        @foreach (var item in Model.Events)
        {
            counter++;
            <tr class="text-center my-2">
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Start.ToString("d")</td>
                <td>@item.End.ToString("d")</td>
                <td>
                    <form asp-action="BuyTicket">
                        <label class="font-weight-bold">Tickets</label>
                        <input asp-for="BuyTicketInputModel.Id" value="@item.Id" hidden="hidden" />
                        <input asp-for="BuyTicketInputModel.TicketsCount"/>
                        <input type="submit" value="Order" class="btn btn-info"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="row justify-content-center" style="margin-top: 40px;">
        @for (int i = 1; i <= Model.TotalPagesCount; i++)
        {
            <a asp-action="All" asp-route-pageNumber="@i" class="btn btn-info ml-2">@i</a>
        }
    </div>
</div>
