@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="mx-auto w-25 text-center">
        <section>
            <h3>Login</h3>
            <form class="mx-auto" method="post">
                <hr class="hr-2 bg-eventures" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username" class="font-weight-bold"></label>
                    <input asp-for="Input.Username" class="form-control" placeholder="Username..." />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="font-weight-bold"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <hr class="hr-2 bg-eventures" />
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <hr class="hr-2 bg-eventures" />
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>    
</div>
